# Python Programming Basic Assignment-10

In [32]:
import random

LIST = []
for i in range(20):
    LIST.append(random.randint(1, 100))
LIST

[28,
 32,
 65,
 54,
 22,
 85,
 84,
 29,
 16,
 26,
 48,
 48,
 46,
 24,
 96,
 100,
 56,
 98,
 92,
 85]

## 1. Write a Python program to find sum of elements in list?

In [33]:
def sum_list(n):
    res = 0
    for i in n:
        res += i
    return res

In [34]:
sum_list(LIST), sum(LIST)

(1134, 1134)

## 2. Write a Python program to Multiply all numbers in the list?

In [35]:
def mul_list(n):
    res = 1
    for i in n:
        res *= i
    return res

In [36]:
mul_list(LIST)

6245554237412966383763010355200000

## 3. Write a Python program to find smallest number in a list?

In [37]:
def min_list(n):
    res = n[0]
    for i in n:
        res = i if i < res else res
    return res

In [38]:
min_list(LIST), min(LIST)

(16, 16)

## 4. Write a Python program to find largest number in a list?

In [39]:
def max_list(n):
    res = n[0]
    for i in n:
        res = i if i > res else res
    return res

In [40]:
max_list(LIST), max(LIST)

(100, 100)

## 5. Write a Python program to find second largest number in a list?

In [41]:
def sec_max(n):
    m = set(n.copy())
    m.remove(max(m))
    return max(m)

In [44]:
def sec_max2(n):
    m = sorted(set(n))
    return m[-2]

In [45]:
sec_max(LIST), sec_max2(LIST)

(98, 98)

In [31]:
LIST

[3, 4, 22, 25, 30, 31, 35, 37, 43, 49, 67, 68, 68, 75, 79, 82, 85, 90, 91, 97]

## 6. Write a Python program to find N largest elements from a list?

In [53]:
def find_max(arr, n):
    m = sorted(set(arr.copy()))
    if n > len(m):
        raise IndexError("Nth Largest out of List Range")
    return m[-n]

In [56]:
find_max(LIST, 5), find_max(LIST, 1), find_max(LIST, 2)

(85, 100, 98)

## 7. Write a Python program to print even numbers in a list?

In [57]:
def even_list(n):
    return [i for i in n if i % 2 == 0]

In [58]:
even_list(LIST)

[28, 32, 54, 22, 84, 16, 26, 48, 48, 46, 24, 96, 100, 56, 98, 92]

## 8. Write a Python program to print odd numbers in a List?

In [59]:
def odd_list(n):
    return [i for i in n if i % 2 == 1]

In [60]:
odd_list(LIST)

[65, 85, 29, 85]

## 9. Write a Python program to Remove empty List from List?

In [70]:
emp_list = [5, [], [5, 6, 8], 89, [], [5, 5, 9], [[]], [877, 7, 4, 5, 9, 5], 0]
emp_list

[5, [], [5, 6, 8], 89, [], [5, 5, 9], [[]], [877, 7, 4, 5, 9, 5], 0]

In [71]:
def remove_emp_list(n):
    res = []
    for i in n:
        if isinstance(i, list):
            if len(i):
                res.append(i)
        else:
            res.append(i)
    return res

In [72]:
remove_emp_list(emp_list)

[5, [5, 6, 8], 89, [5, 5, 9], [[]], [877, 7, 4, 5, 9, 5], 0]

## 10. Write a Python program to Cloning or Copying a list?

In [73]:
def manual_copy(n):
    m = []
    for i in n:
        m.append(i)
    return m

In [80]:
list_1 = manual_copy(LIST)
id(list_1), id(LIST)

(1738347739008, 1738347532416)

In [82]:
list_2 = LIST.copy()
id(list_2), id(LIST)

(1738347709632, 1738347532416)

In [83]:
list_3 = [*LIST]
id(list_3), id(LIST)

(1738347732672, 1738347532416)

## 11. Write a Python program to Count occurrences of an element in a list?

In [85]:
from collections import Counter

In [86]:
Counter(LIST)

Counter({28: 1,
         32: 1,
         65: 1,
         54: 1,
         22: 1,
         85: 2,
         84: 1,
         29: 1,
         16: 1,
         26: 1,
         48: 2,
         46: 1,
         24: 1,
         96: 1,
         100: 1,
         56: 1,
         98: 1,
         92: 1})

In [88]:
LIST.count(5), LIST.count(100), LIST.count(48)

(0, 1, 2)